# Build related files.
target/

# ENSIME related files.
.ensime
.ensime_cache
.ensime_lucene

# General files.
*~
.DS_Store

# Metals related files.
.bloop
.metals
metals.sbt

# sbt related files.
.bsp
